.text {
    text-align: right;
    margin-right: 300px;
    margin-top: 200px;
    font-weight: bold;
}

.text2 {
    margin-right: 340px;
}

.logo {
    background-color: rgba(0,0,0, 5);
    opacity: 0.1;
    width: 370px;
    height: auto;
    object-position: top;
}

.button {
    color: #596D48;
}